p {
    color: black;
    width: 600px;
    font-size: 16px;
    /* line-height 后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
  }
li{
    color: blueviolet;
    width: 500px;
    height: 30px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
}  
img[src]{
    width: 300px;
    height: auto;
    border: 1px solid red;
    display: block;
    margin: 0 auto;
}
html {
    font-size: 20px;
    font-family: 'Noto Serif SC', sans-serif;
  }
h1 {
    margin: 0;
    padding: 20;
    color: lightseagreen;
    text-shadow: 1px 1px 3px black;
    font-size: 60px;
    text-align: center;
  }
main {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }
h2 {
    margin: auto;
    padding: 20;
    color: red;
    text-shadow: 1px 1px 3px black;
    font-size: 60px;
    text-align: center;
  }
iframe{
    display: block;
    margin: 0 auto;
}
